/*全局*/
.y-row{
    min-width: 1000px;
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;
}
.y-row::after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    font-size: 0;
    visibility: hidden;
    clear: both;
    zoom: 1;
}
a:hover{
    text-decoration: none;
}
#content{
    min-width: 1280px;
}
.main-wrap{
    width: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}


/*第一部分样式设置开始*/
.wrap1{
    max-height: 560px;
    position: relative;
    overflow: hidden;
}
/* 导航样式设置开始*/
.topbar-body{
    width: 100%;
    position: relative;
    background-color: black;
    border-bottom: 1px solid #555;
    z-index:9;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -ms-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.topbar-body:hover{
    background-color: rgba(0, 0, 0, .8);
}
.topbar-box{
    height: 61px;
}

/*logo样式设置开始*/
.logo{
    display: block;
    width: 96px;
    height: 60px;
    float: left;
    margin-right: 84px;
    position: relative;
    top: 0;
}
.logo>img{
    width: 100%;
    position: absolute;
    top: 35%;
}
.logo>img:nth-child(1){
    top: 35%;
}
/*logo样式设置结束*/

.nav-list{
    position: relative;
    cursor: pointer;
}
.nav-list li{
    height: 61px;
    position: relative;
    top: -3px;
    float: left;
    line-height: 65px;
    font-size: 14px;
    color: #fff;
    border-bottom: 0 solid #00c1de;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 1;
}
.nav-list li.line{
    position: absolute;
    display: block;
    height: 3px;
    top: 58px;
    background-color: #00a2ca;
    z-index: 2;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) ;
    -ms-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) ;
    -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) ;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) ;
}
.nav-list li>a{
    padding: 0 18px;
    color: #fff;
    text-decoration: none;
}
.nav-list li>img{   /* hot 标签*/
    width: 24px;
    position: absolute;
    top: 10px;
    right: 7px;
}

.tool-body{

}
.login{
    display: inline-block;
    width: 130px;
    height: 61px;
    line-height: 61px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #00c1de;
}
.login:hover{
    background-color: #00a2ca;
}
.tips-box>li{
    height: 60px;
    margin-right: 26px;
    line-height: 60px;
    text-align: center;
}
.tips-box>li>a{
    font-size: 14px;
    color: #fff;
}

.tool-body a {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
}

.tool-body>ul a:hover{
    color: #00a2ca
}
/*  导航样式设置结束*/

/*  轮播图样式设置开始*/
.index-top-banner{
    height: 560px;
    position: relative;
    background-color: #000;
}
.index-top-banner>div{
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
}
.active{
    top: 0;
    opacity: 1;
    z-index: 2;
}
.bottom{
    top: 50px;
    opacity: 0;
    z-index: 1;
}
.banner-title{
    position: absolute;
    top: 150px;
    left: 80px;
}
.banner-title h1{
    display: block;
    font-size: 44px;
    color: #fff;
    text-align: left;
}
.banner-title:hover a {
    text-decoration: none;
}
.banner-title p{
    display: block;
    font-size: 20px;
    text-align: left;
    color: #fff;
}
.banner-title button{
    width: 120px;
    height: 36px;
    position: relative;
    margin-top: 30px;
    float: left;
    font-size: 16px;
    outline: none;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    z-index: 9;
}
.banner-title button:hover{
    color: #000;
    background-color: #fff;
}
/*轮播标题 end*/
.banner-img{
    width: 100%;
    position: absolute;
    right: 0;
    z-index: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.banner-img>div{
    width: 100%;
    height: 10px;
    position: absolute;
}
/* 第一层*/
.banner-img>div:nth-child(1){
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
    -ms-transform: translateZ(50px);
    -o-transform: translateZ(50px);
    transform: translateZ(50px);
}
/*第二层*/
.banner-img>div:nth-child(2){
    -webkit-transform: translateZ(100px);
    -moz-transform: translateZ(50px);
    -ms-transform: translateZ(50px);
    -o-transform: translateZ(50px);
    transform: translateZ(100px);
}
/*第三层*/
.banner-img>div:nth-child(3){
    -webkit-transform: translateZ(150px);
    -moz-transform: translateZ(150px);
    -ms-transform: translateZ(150px);
    -o-transform: translateZ(150px);
    transform: translateZ(150px);
}
.banner-img img{
    width: 800px;
    position: absolute;
    top: -30px;
    right: 0;
}
/*轮播图片 end*/
.banner-tab{
    position: absolute;
    bottom: 5px;
    left: 50%;
    z-index: 999;
}
.banner-tab-li{
    width: 26px;
    height: 4px;
    padding: 10px 3px;
    float: left;
    background-color: #a1a1a3;
    background-clip: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}
.banner-tab-li:hover,
.banner-tab-li.on{
    background-color: #fff;
}
/*轮播焦点 end*/
/*轮播图样式设置结束*/

/*第一部分样式设置结束*/




/*第二部分样式设置开始*/
.navigation_b{
    width: 100% ;
    height: 130px;
    background: #D7D7D8;
}
.navigation_b_banner{
    width: 1200px;
    height: 130px;
    margin: 0 auto;
    overflow: hidden;
}
.navigation_b_banner li:nth-child(2n){
    float: left;
    width: 240px;
    height: 130px;
    background: #EBEBEC;
    position: relative;
}
.navigation_b_banner li:nth-child(2n-1){
    float: left;
    width: 240px;
    height: 130px;
    background: #E2E2E2;
    position: relative;
}
.navigation_b_banner li>img{
    position: absolute;
    right: -30px;
    top:0;
    z-index: 0;
}
.navigation_b_banner li>h2{
    font-size: 20px;
    font-weight: 900;
    margin-top: 45px;
    margin-left: 10px;
    font-style: inherit;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.navigation_b_banner li>p {
    font-size: 13px;
    margin-left: 10px;
}
/*第二部分样式设置结束*/



/*第三部分样式设置开始*/
.wrap3{
    width: 100%;
}
.index-sale{
    width:100%;
    min-height: 830px;
    padding-top: 74px;
    padding-bottom: 68px;
    background-color: rgba(55, 61, 65, .05);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.index-sale-title{
    font-size: 24px;
    text-align: center;
}
.card-area{
    width: 1180px;
    margin: 82px auto 0;
}
.card-item{
    width: 22%;
    height: 548px;
    float: left;
    position: relative;
    border: 1px solid #dbdbdd;
    background-color: transparent;
    z-index: 10;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
/*li卡片  鼠标移入后*/
.card-item.active{
    width: 34%;
    height: 563px;
    border: 1px solid #00c1de;
    -webkit-box-shadow: 0 0 20px rgba(0, 198, 226, 0.5);
    -moz-box-shadow: 0 0 20px rgba(0, 198, 226, 0.5);
    box-shadow: 0 0 20px rgba(0, 198, 226, 0.5);
    z-index: 100;
}
.card{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
}

.card-title{
    width: 100%;
    height: 170px;
    position: absolute;
    top: 0;
    font-size: 14px;
    line-height: 26px;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1), z-index 0s 0.12s;
    -moz-transition:  all 0.3s cubic-bezier(0.4, 0, 0.2, 1), z-index 0s 0.12s;
    -ms-transition:  all 0.3s cubic-bezier(0.4, 0, 0.2, 1), z-index 0s 0.12s;
    -o-transition:  all 0.3s cubic-bezier(0.4, 0, 0.2, 1), z-index 0s 0.12s;
    transition:  all 0.3s cubic-bezier(0.4, 0, 0.2, 1), z-index 0s 0.12s;
}
/*卡片标题  鼠标移入后效果*/
.card-item.active .card-title{
    height: 185px;
    background-color: #00c1de;
    top: -15px;
}
/*奇数偶数 卡片的背景*/
.title-even{
    background-color: #ebebec;
}
.title-odd{
    background-color: #e5e6e6;
}

.card-title .content{
    width: 100%;
    position: absolute;
    bottom: 17px;
}
.content-img{
    width: 55px;
    height: 55px;
    margin: 10px auto;
    position: relative;
}
.content-img img{
    width: 100%;
    position: absolute;
    left: 0;
}
.content-img>img:nth-child(2){
    display: none;
}
.card-item.active .content-img>img:nth-child(2){
    display: block;
}

/*文字颜色  鼠标移入后*/
.card-item.active .card .card-title h1,
.card-item.active .card .card-title p{
    color: #fff;
}

/*卡片下部内容列表*/
.card-content{
    width: 100%;
    height: 376px;
    line-height: 2;
    position: absolute;
    top: 170px;
}
.content-first-list{
    width: 100%;
    max-width: 250px;
    margin: 47px 0;
    font-size: 16px;
    color: #373d41;
}
.content-first-list>li{
    margin-bottom: 30px;
}
.card-content-second{
    display: none;

}
.card-item.active .card-content-second{
    display: block;
    max-width: 350px;
    padding-top: 26px;
    left: 25px;
    font-size: 14px;
    text-align: center;
    color: #a9b0b4;
    -webkit-transition: all 0.12s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -moz-transition: all 0.12s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -ms-transition: all 0.12s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -o-transition: all 0.12s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transition: all 0.12s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.main-info{
    width: 100%;
    height: 161px;
    border-bottom:1px solid #ddd;
}
.main-head{
    margin-bottom: 4px;
    line-height: 28px;
    font-size: 18px;
    color: #373d41;
}
.main-btn{
    width: 100px;
    height: 30px;
    margin-top: 22px;
    margin-bottom: 33px;
    font-size: 14px;
    color: #00c1de;
    background-color: #fff;
    border: 1px solid #00c1de;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.main-btn:hover{
    background-color: #00c1de;
    color: white;
}
/* main-info end*/

.other-info{
    padding-top: 20px;
    line-height: 22px;
    font-size: 12px;
}
.other-info-list{
    width: 50%;
    height: 80px;
    margin-bottom: 10px;
    padding-right: 5px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.other-info-list h3{
    font-size: 14px;
    color: #373d41;
}
.other-info-list a{
    color: #00c1de;
}
/*隐藏列表 鼠标移入*/
.card-item.active .card-content-first{
    display: none;
}

/*第三部分样式设置结束*/



/*第四部分样式设置开始*/
.wrap4{
    min-height: 361px;
    margin: 76px auto;
    background-color: #fff;
}
.content_2{
    width: 100%;
    height: 513px;
    background: white;
}
.content_2_box{
    width: 1180px;
    height: 431px;
    background: white;
    padding-top: 82px;
    margin: 0 auto;
}
.content_2_top{
    width: 100%;
    height: 24px;
    margin-bottom: 79px;
}
.content_2_top>p{
    text-align: center;
    font-size: 24px;
}

.content_2_bot{
    height: 250px;
    width: 100%;
    margin: 0 auto;
}
.content_2_bot>div{
    width: 390px;
    height: 100%;
    float: left;
    margin-right: 3px;
    text-align: center;
}
.content_2_bot>div>img{
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
}
.content_2_bot>div>h2{
    margin-bottom: 5px;
}
.content_2_bot>div>p{
    color: gainsboro;
    line-height: 21px;
    font-size: 14px;
    margin-bottom: 15px;
}
.content_2_bot>div>ul>a{
    color: #00C1DE;
    font-size: 15px;
    margin: 0 5px;
    text-decoration:none ;
}
.content_2_bot>div>ul>a:hover{
    text-decoration: underline;
}

/*第四部分样式设置结束*/


/*第五部分样式设置开始*/
.wrap5{
    max-width: 1280px;
    margin: 0 auto;
}
.content_3{
    width: 100%;
    height: 373px;
}
.content_3_box{
    width:1280px;
    height: 373px;
    position: relative;
    overflow: hidden;
}
.content_3_box>.prev,.content_3_box>.next{
    position: absolute;
    width: 50px;
    height: 100%;
    background: rgba(0,0,0,0.3);
    text-align: center;
    line-height: 373px;
    font-size: 35px;
    color: gainsboro;
    z-index: 11;
    display: none;
    cursor: pointer;
}
.content_3_box>.prev{
    left: 0;
}
.content_3_box>.next{
    right: 0;
}
.content_3_box>ul{
    width: 400%;
    height: 373px;
    position: absolute;
    left:1280px;
    top:0;
}
.content_3_box>ul>li{
    width: 256px;
    height: 373px;
    float: left;
}
.content_3_box>ul>li:nth-child(2n)>.content_3_con{
    background: rgba(0,0,0,0.3);

}
.content_3_box>ul>li:nth-child(2n-1)>.content_3_con{
    background: rgba(0,0,0,0.6);

}
.content_3_box>ul>li .content_3_con{
    position: absolute;
    width: 256px;
    height: 373px;
    z-index: 2;
    text-align: center ;
}
.content_3_con img{
    margin-top: 100px;
    width: 64px;
    height: 64px;
    transition: 0.3s;
}
.content_3_con span{
    width: 20px;
    height: 2px;
    background: white;
    display: block;
    margin-left: 46%;
    margin-top: 15px;
}
.content_3_con h2{
    margin-top: 35px;
    font-size: 23px;
    color: white;
    transition: 0.7s;
}
.content_3_con p{
    display: none;
}
.content_3_con input{
    display:none;
}
.content_3_box>ul>li:hover>.content_3_con{
    background: rgba(51,167,198,0.7);
}
.content_3_box>ul>li:hover>.content_3_con img{
    margin-top: 50px;
}
.content_3_box>ul>li:hover>.content_3_con span{
    display:none;
}
.content_3_box>ul>li:hover>.content_3_con h2{
    margin-top: 10px;
}
.content_3_box>ul>li:hover>.content_3_con p{
    display: block;
    margin: 30px 15px 0 15px;
    line-height: 25px;
    color: white;
    font-size:12px;
}
.content_3_box>ul>li:hover>.content_3_con input{
    width: 122px;
    height: 38px;
    color: white;
    background: rgba(51,167,198,0);
    border: 1px solid white;
    display: block;
    margin: 40px  0  0  65px;
}
/*第五部分样式设置结束*/


/*第六部分样式设置开始*/
.wrap6{
    width: 100%;
}
.main-market{
    min-height:543px;
    margin-left: 76px;
    margin-right: 76px;
}
.content_4{
    width: 100%;
    height: 695px;
    background: white;
}
.content_4_box{
    margin: 0 auto;
    width: 1200px;
    height: 695px;
    text-align: center;
    color: black;
    overflow: hidden;
}
.content_4_box>h2{
    margin: 83px auto 30px ;
    font-size: 24px;
}
.content_4_box_bot{
    height: 440px;
    width: 100%;
}
.content_4_con{
    width: 33%;
    height: 220px;
    float: left;
    text-align: center;
}
.content_4_con_pic{
    width: 75px ;
    height: 75px;
    overflow: hidden;
    margin: 50px auto 0;
    position: relative;
}
.content_4_con_pic>img{
    width: 75px;
    position: absolute;
    top: 0;
    left: 0;
}
.content_4_con>h2{
    margin-top: 20px;
    font-size: 21px;
    margin-bottom: 10px;
}
.content_4_con>ul>li{
    display: inline-block;
    color: gainsboro;
    font-size: 15px;
    text-underline: none;
    line-height: 18px;
}
/*第六部分样式设置结束*/


/*第七部分样式设置开始*/
.index-community{
    height: 570px;
    padding: 80px auto;
    background-color: #ebebec;
}
.content_5{
    width: 100%;
    height: 570px;
    background: #F5F5F5;
}
.content_5_box{
    width:1180px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.content_5_box>h2{
    text-align: center;
    margin-top: 86px;
    margin-bottom: 72px;
    font-size: 24px;
}
.content_5_box_mid>div{
    width: 378px;
    height: 228px;
    border:1px solid grey;
    background: white;
    margin-right: 20px;
    float: left;
}
.content_5_box_mid>div.content_5_box_midr{
    margin-right: 0;
}
.content_5_box_mid>div>div{
    width:378px;
    height:170px;
    overflow: hidden;
}
/* 第一张图片*/
.content_5_pic{
    background-size: 378px 200px;
}
.content_5_pic>img{
    width: 378px;
    height: 228px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.content_5_pic:hover >img{
    transform: scale(1.1,1.1);
}

.content_5_box_mid>div>p{
    margin-top: 23px;
    font-size: 14px;
    margin-left: 20px;
    color: #0f0f0f;
}
.content_5_box>div>div>a{
    display: inline-block;
    text-decoration: none;
    color: grey;
}
.content_5_box>div>div>a:hover{
    color: #00b3ee;
}
.content_5_bottext{
    margin-top:30px ;
    line-height: 25px;
    font-size: 14px;
    width: 378px;
    float: left;
    margin-right: 20px;
}
/*第七部分样式设置结束*/


/*第八部分样式设置开始*/
.main-serve{
    margin-top: 80px;
    margin-bottom: 50px;
}
.main-serve-head{
    margin-bottom: 70px;
}
.main-serve-head h1{
    font-size: 24px;
    color: #373d41;
    text-align: center;
}
.main-serve-img{
    position: relative;
    width: 100%;
}
.main-serve-img>img{
    width: 100%;
}
/*坐标点*/
.point-area{
    width: 150px;
    height: 150px;
    position: absolute;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.point{
    width: 10px;
    height: 10px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    border-radius: 50%;
}
.point-name{
    position: absolute;
    top: 65px;
    left: 85px;
}
.point-dot{
    background-color: #00a2ca;
    opacity: .6;
    border: 1px solid #00c1de;
}




/*水波动画效果*/
@keyframes ripple {
    0%{
        width: 0;
        height: 0;
        opacity: 0;
    }
    30%{
        opacity: .4;
    }
    100%{
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}
/*小波纹*/
.point-s{
    width: 40%;
    height: 40%;
}
.point-s::after{
    content: '';
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    border: 2px solid #00c1de;
    box-shadow:inset 0 0 8px #00c1de;
    border-radius: 50%;
    animation: ripple 4s ease-out 1600ms infinite;
}
/*中波纹*/
.point-m{
    width: 70%;
    height: 70%;
}
.point-m::after{
    content: '';
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    border: 2px solid #00c1de;
    box-shadow:inset 0 0 8px #00c1de;
    border-radius: 50%;
    animation: ripple 4s ease-out 900ms infinite;
}
.point-l{
    width: 100%;
    height: 100%;
}
.point-l::after{
    content: '';
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    border: 2px solid #00c1de;
    box-shadow:inset 0 0 8px #00c1de;
    border-radius: 50%;
    animation: ripple 4s ease-out 200ms infinite;
}

.main-serve-bar{
    padding: 0 10%;
}
.main-bar-list{
    width: 25%;
    padding: 0 10px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.main-bar-list>img{
    width: 50px;
    height: 50px;
    float: left;
}
.main-bar-list>p{
    padding-left: 10px;
    float: left;
    font-size: 12px;
    line-height: 50px;
    color: #373d41;
}
/*第八部分样式设置结束*/



/*尾部链接样式设置开始*/
#width-box {
    width: 100%;
    background-color: #333;
}
.footer {
    width: 1280px;
    height: 850px;
    background-color: #333;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
}
.footer .footer-big {
    height: 642px;
}
.footer .footer-small {
    height: 208px;
    font-size: 14px;
}
.footer .footer-big .footer-big-head {
    width: 1100px;
    height: 121px;
    margin-left:50px;
    margin-right: 50px;
}
.footer .footer-big .footer-big-head ul {
    list-style: none;
    position: relative;
    width: 1100px;
    height: 120px;
    border-bottom: 1px solid rgba(255,255,255,0.11);
}
.footer .footer-big .footer-big-head ul li {
    float: left;
    width: 275px;
    height: 120px;
    text-align: center;

}
.footer .footer-big .footer-big-head ul li a {
    width: 200px;
    height: 120px;
    display: inline-block;
    position: relative;
    line-height: 120px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding-left: 30px;
}
.footer .footer-big .footer-big-head img {
    width:50px;
    height: 50px;
    text-align: center;
    margin-top:34px;
    position: absolute;

}
.footer .footer-big .footer-big-head span {
    line-height: 120px;
    margin-top:34px;
    margin-left:20px;
}
.footer .footer-big .footer-big-head ul li a:hover {
    color: #00a2ca;
}
/*现在是做的是有电话的部分*/
.footer-big-phone {
    width:1100px;
    height: 120px;
    border-bottom: 1px solid rgba(255,255,255,0.11);
    margin:auto;
}
.footer-big-phone .center {
    height: 50px;
    padding-left: 52px;
    padding-top:35px;
    padding-bottom: 35px;
}
.footer-big-phone .center .phone  {
    /*width: 50px;*/
    /*height: 50px;*/
    float: left;
}
.footer-big-phone .center .phone img {
    width: 50px;
    height: 41px;
}
.footer-big-phone .center .text {
    color: white;
    margin-left: 30px;
    float: left;
}
.footer-big-phone .center .text .p1 {
    margin-bottom: 10px;
}
.footer-big-phone .center .text .pp {
    font-size: 22px;
}
.footer-big-phone .right {
    margin-left: 90px;
    height: 24px;
    float: left;
    text-align: center;
    line-height: 40px;
}
.footer-big-phone .right p {
    float: left;
    color: white;
}
.footer-big-phone .right p a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
}
.footer-big-phone .right p a:hover {
    color:#00a2ca ;
}
/* 该做服务与支持这块*/

.footer-big .serve {
    height: 400px;
    width:1200px;
}
.footer-big .serve .serve-son {
    width: 1100px;
    height: 304px;
    margin:0 50px ;
    padding:48px 0;
}

.footer-big .serve .serve-son .head {
    width: 1100px;
    height: 271px;
}
.footer-big .serve .serve-son .head-li {
    float: left;
    width: 215px;
    height: 254px;
    position: relative;
}
.footer-big .serve .serve-son .head-li h3 {
    color: white;
}
.footer-big .serve .serve-son .head-li .head-li-ul {
    margin-top:20px;
    font-size: 12px;
    height: 210px;
}
.footer-big .serve .serve-son .head-li .head-li-ul li {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}
.footer-big .serve .serve-son .head-li .head-li-ul li a {
    color: #A9B0B4;
    text-decoration: none;
}
.footer-big .serve .serve-son .head-li .head-li-ul li a:hover {
    color: #00a2ca;
}
.footer-big .serve .serve-son .head-li .head-li-ul img {
    width: 80px;
    height: 80px;
    display: none;
}
.footer-big .serve .serve-son .head-li .head-li-ul .head-li-ul-img {
    display: block;
}

/* 现在做的是最后一小块内容 */
.footer-small{
    width: 100%;

}
.footer-small .footer-small-content {
    text-align: left;
    display: inline-block;
    height: 153px;
    margin:0 40px;
    padding:15px 0 40px 0;
    /*position: relative;*/
}
.footer-small .footer-small-content .content-p {
    height: 30px;
    line-height: 30px;
    padding:5px 0;
    display: inline-block;
}
.footer-small .footer-small-content .content-p a{
    color: #777F84;
    font-size: 16px;
    padding-right: 5px;
}
.footer-small .footer-small-content .content-p a:hover {
    text-decoration: underline;
}
.footer-small .footer-small-content .china {
    display: inline-block;
    float: right;
    margin-left:5px;
    position: relative;
}
.footer-small .footer-small-content .china input {
    width: 178px;
    height: 30px;
    padding:0 30px 0 10px;
    background-color: rgba(255,255,255,0.1);
    border:1px solid rgba(255,255,255,0.7);
}
.footer-small .footer-small-content .china .bnt {
    position: absolute;
    top:1px;
    right:1px;
    width: 30px;
    height: 30px;
    border:0;
    background-color:rgba(255,255,255,0) ;
}
.footer-small .footer-small-content .input-text {
    border:1px solid rgba(255,255,255,0.7);
    height:30px;
    width: 145px;
    position:relative;
    float: right;
    padding:0 10px 0 35px;
    color: #999;
    font-size: 14px;
    line-height: 30px;
    text-align: left;
}
.footer-small .footer-small-content .input-text img {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 8px;
    left: 10px;
    line-height: 30px;
}

.footer-small .footer-small-content .input-text #input-text-down{
    position: absolute;
    line-height: 30px;
    font-size: 14px;
    right: 5px;
    display: block;
}
.footer-small .footer-small-content .input-text #input-text-up{
    position: absolute;
    line-height: 30px;
    font-size: 14px;
    right: 5px;
    display: none;
}
.footer-small .footer-small-content .input-fother {
    position: relative;
    display: none;
    /*background-color:rgba(255,255,255,0.1) ;*/

}
.footer-small .footer-small-content .input-text-none {
    border:1px solid rgba(255,255,255,0.7);
    height:30px;
    width: 145px;
    font-size: 14px;
    line-height: 30px;
    color: #999;
    position: absolute;
    padding:0 10px 0 35px;
    text-align: left;
    left: 792px;
    top: -2px;
    background-color:#333 ;
    /*display:none;*/
}

.footer-small .footer-small-content .input-text-none img {
    width: 16px;
    height: 16px;
    position: absolute;
    top:8px;
    left: 10px;
    line-height: 30px;
}

/*  版权  */

.footer-small .footer-small-content .link-warp {
    text-align: left;
    line-height: 24px;
    font-size: 14px;
    color: #999;
    padding:5px 0;
}
.footer-small .footer-small-content .link-warp a{
    font-size: 14px;
    color: #777F84;
    padding-right: 10px;
    line-height: 24px;
}
.footer-small .footer-small-content .link-warp a:hover{
    text-decoration: underline;
}

.footer-small .footer-small-content .copyright {
    font-size: 14px;
    color: #999;
    text-align: left;
    padding:5px 0;
}
/*尾部链接样式设置结束*/